<h1>Hotel Advisor</h1>
<p>the application, where users can add a hotels which they have visited and put а rating for them.</p>
<b>general statements:</b>
<ol>
  <li>users can register/sign in.</li>
  <li>users can see a list of hotels.</li>
  <li>users can add a hotel. Hotel has next attributes:</li>
    <ul>
      <li>title(required)</li>
      <li>star rating(required)</li>
      <li>breakfast included?(yes/no)</li>
      <li>room description</li>
      <li>photo</li>
      <li>price for room</li>
      <li>address(different object) ­ country, state, city, street</li>
    </ul>
  <li>users on hotel details page can rate a hotel from 1 to 5 with comment.</li>
  <li>On the landing page display top 5 hotels with the best rating.</li>
</ol>

<h2>Used technologies</h2>
<p>Rails 4.2.3, ruby 2.2.0, devise, twitter bootstrap, simple_form, carriervawe, rspec</p>
<p>The final code on Github. The preview on Heroku.</p>